@media screen and (max-width:1024px) {
   /* Page book now */
   .page__content--book {
    width: 500px;
} 


     /* Không hiển thị hình ảnh other package */
     .detail_page .page__content--otherpack {
        display: none;
    }
    
}

/*máy tính bảng, hiện thị chiều ngang*/

@media screen and (max-width: 800px) {
    /* Page book now */
    .page__content--book {
        width: 400px;
    } 
    

/*máy tính bảng loại to, hiện thị chiều dọc*/

@media screen and (max-width: 768px) {
       /* Page book now */
       .page__content--book {
        width: 350px;
    } 
    .page__content--book #number_book {
        width: 40px;
    }
    
    .page__content--book #place_book {
        width: 130px;
    }

}
/*máy tính bảng, hiện thị chiều dọc*/

@media screen and (max-width: 600px) {
            /* Page book now */
            .page__content--book {
                width: 300px;
            } 
            .page__content--book #number_book {
                width: 40px;
            }
            
            .page__content--book #place_book {
                width: 120px;
            }
    
    
}
/*điện thoại, hiện thị chiều ngang*/

@media screen and (max-width: 480px) {
    /* Page book now */
    .page__content--book {
        width: 260px;
    }
    .page__content--book #number_book {
        width: 40px;
    }
    
    .page__content--book #place_book {
        width: 120px;
    }

}
/*điện thoại, hiện thị chiều dọc*/

@media screen and (max-width: 320px) {
    /* Page book now */
    .book_page {
        font-size: 8pt;
    }
    .page__content--book {
        width: 250px;
    }
    .page__content--book #number_book {
        width: 40px;
    }
    
    .page__content--book #place_book {
        width: 120px;
    }
    
}}