/*Dùng chung toàn bộ website*/

* {
    margin: 0;
    padding: 0;
}

.page {
    background-color: #cae0f3;
}

 :root {
    --textColor: rgb(236, 238, 247);
    --menuColor: #04074c;
    --linkColor: #b5d4d2;
    --footerColor: #04074c;
    --mainColor: rgb(4, 20, 112);
    --aHover: hsl(190deg 98% 52%);
    --btnhover: hsl(211deg 91% 32%);
    --space: 30px;
    --infColor: #f3fbfd;
    --menuRight: hsl(211deg 91% 32%);
    --btnColor1: #f29134;
    --btnColor2: #f7c65d;
}

.text-center {
    text-align: center;
}

.img-center {
    display: block;
    margin: 0 auto;
}

.flexrow {
    display: flex;
    justify-content: space-around;
}

.validation_message {
    font-size: small;
    margin-left: var(--space);
}

/*dung chung*/
.btn {
    margin: 0 auto;
    background-image: linear-gradient(0, #f29134, #f7c65d);
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    width: 100px;
    height: 36px;
    line-height: 36px;
    color: white;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: justify
}

.btn a {
    text-decoration: none;
    line-height: 36px;
    padding: 0px;
}

.title_upperCase {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-top: var(--space);
    margin-bottom: var(--space);
    color: #044d98;
}

.color {
    color: #044d98;
}

ul a:hover,
a:hover {
    color: var(--aHover);
}

.btn>a {
    color: var(--mainColor)
}

.btn a:hover {
    color: var(--btnhover)
}

.btn:hover {
    background-image: linear-gradient(0, #f29134, #f29134);
}

.btn-medium {
    width: 150px;
}

.btn-lager {
    width: 250px;
}

.price {
    color: var(--mainColor);
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    height: 30px;
    width: 60px;
    color: #044d98;
    background-color: #0dd4fd;
    border-radius: 5px;
}

/*phần chỉnh div lớn nhất*/
.page {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    width: 100%;
    font-size: 20px;
}

/*phần chỉnh nội dung website*/
.page__content {
    max-width: 1230px;
    margin: 0 auto;
}

.page__content--section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: var(--space);
}

/*menu ẩn hiện*/
#page__menu--right {
    margin-top: 50px;
    margin-right: 10px;
    width: 250px;
    height: 100vh;
    background-color: var(--menuRight);
    right: 0;
    position: absolute;
    z-index: 4;
    padding: 10px;
    display: none;
    position: fixed;
}

#page__menu--icon-menu {
    text-align: center;
}

#page__menu--right ul {
    list-style: none;
}

#page__menu--right li {
    padding-left: 10px;
    margin-top: 5px;
}

#page__menu--right a {
    text-decoration: none;
    list-style: none;
    color: var(--textColor);
}

/*-----------------------*/

/*phần chỉnh menu*/
.page__menu {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: var(--menuColor);
    position: fixed;
    z-index: 2;
    overflow: hidden;
}

.page__menu--logo img {
    display: block;
    height: 50px;
}

.page__menu ul {
    list-style: none;
    display: flex;
    text-transform: uppercase;
    justify-content: space-around;
}

.page__menu--ul {
    width: 500px;
}

.page__menu li {
    margin-left: 15px;
}

.page__menu a {
    text-decoration: none;
    color: var(--textColor);
    line-height: 50px;
}

.page__menu--icon .icon:first-child {
    margin-right: 20px;
}

.page__menu--icon-menu {
    display: none;
}

/*phần chỉnh footer*/
#page__footer {
    width: 100%;
    background-color: var(--footerColor);
    padding-bottom: var(--space);
    color: var(--textColor);
    padding-top: var(--space);
    display: flex;
    flex-wrap: wrap;
}

.page__footer--left {
    margin: var(--space) auto;
    flex: 1;
    max-width: 300px;
    min-width: 210px;
}

.page__footer--left img {
    width: 100%;
    display: block;
}

.page__footer--right {
    flex: 3;
    min-width: 500px;
    padding-left: 10px;
    padding-right: 10px;
}

.footer--right--menu {
    display: flex;
}

.footer--right--menu li {
    margin-left: var(--space);
}

.footer--right--menu a {
    text-decoration: none;
}

.footer--right--menu li:first-child {
    margin-left: 10px;
}

.footer--right--menu ul {
    list-style: none;
    justify-content: space-between;
    display: flex;
}

.footer--right--menu ul a {
    color: white;
}

.footer--right--menu ul a:hover {
    color: var(--aHover);
}

.footer--information {
    margin-top: var(--space);
}

.footer-icon-contact {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer-icon-contact a {
    color: var(--linkColor);
}

.page__footer .footer-icon-contact a {
    text-decoration: none;
    color: var(--linkColor);
}

.page__footer.footer-icon-contact a:hover {
    text-decoration: none;
}

/*máy tính bảng loại to, hiện thị chiều ngang*/
@media screen and (max-width:1024px) {
    #button__signout {
        display: none;
    }

    .page__menu--ul {
        width: 400px;
    }
}


/*máy tính bảng loại to, hiện thị chiều dọc*/
@media screen and (max-width: 768px) {
    /*dung chung*/
    .btn {
        width: 100px;
        height: 32px;
        line-height: 32px;
        font-size: 18px;
    }

    .btn-medium {
        width: 130px;
    }

    .btn-lager {
        width: 220px;
    }
    
    .page__menu ul {
        display: none;
    }

    .page__menu--icon-menu {
        display: block;
        position: absolute;
        right: 10px;
    }
    .btn__signin_emai--submenu{
        display: none;
    }

    .btn__register--submenu{
        display: none;
    }

    .page__menu--ul {
        width: 1px;
    }

    #page__footer {
        font-size: 15px;
    }

    .page__footer--left {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .tour--item {
        height: auto;
    }

    .footer--right--menu li {
        margin-left: 15px;
    }
}

/*máy tính bảng, hiện thị chiều dọc*/
@media screen and (max-width: 600px) {
    #page__footer {
        width: 100%;
        padding-top: 5px;
    }

    .page__footer--right {
        min-width: 400px;
    }

    .title {
        font-size: 15px;
    }
}


/*điện thoại, hiện thị chiều ngang*/
@media screen and (max-width: 480px) {
    #page__footer {
        font-size: 12px;
        width: 100%;
    }

    .page__footer--left img {
        width: 100%;
    }

    .page__footer--right {
        min-width: 280px;
    }

    .btn-register,
    .btn-signin {
        display: none;
        width: 1px;
    }
}


/*điện thoại, hiện thị chiều dọc*/
@media screen and (max-width: 320px) {
    /*dung chung*/
    .btn {
        width: 100px;
        height: 30px;
        line-height: 30px;
        font-size: 15px;
    }

    .btn-medium {
        width: 120px;
    }

    .btn-lager {
        width: 200px;
    }
    /**/
    #page__footer {
        width: 100%;
    }

    .page__footer--left img {
        width: 60%;
    }

    .page__footer--right {
        min-width: 200px;
    }

    .page__footer--right .btn-search {
        display: block;
    }

    .footer--right--menu {
        width: 10px;
    }

    .footer--right--menu li {
        margin-left: 10px;
    }

    .tour--item {
        width: 100%;
        height: auto;
        border: none;
    }

    .tour--item p {
        padding-left: 5px;
        padding-right: 5px;
    }

    .footer--right--menu {
        margin-left: 0px;
    }

    .footer--right--menu ul li a {
        margin-left: 10px;
    }
    
    /*partner*/
    #slideshow-container .mySlides img {
        width: 55px;
    }
}