      /*PHẦN RIÊNG TỪNG PAGE*/
      /*PAGE home*/
      
      .page--slide {
          padding-top: 50px;
      }
      
      .input-search {
          border-radius: 15px;
          border-left: 1px solid white;
          border-top: 1px solid white;
          border-bottom: 1px solid white;
          width: 200px;
          height: 26px;
          padding-left: 10px;
          background-color: inherit;
          margin: auto 0;
      }
      
      .fa-search {
          margin-left: 10px;
          margin: auto 0;
          color: rgb(255, 255, 255);
      }
      
      .fa-search:hover {
          cursor: pointer;
      }
      
      .page--slide img {
          width: 100%;
      }
      
      .page__content--tour {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
      }
      
      .tour--item {
          width: 380px;
          min-width: 300px;
          border: 2px solid steelblue;
          margin-bottom: var(--space);
          position: relative;
          padding-bottom: 50px;
      }
      
      .tour--item .btn-detail {
          position: absolute;
          bottom: 10px;
          left: 40px;
          right: 40px;
      }
      
      .tour--item img {
          width: 100%;
      }
      
      .tour--item--content {
          font-size: 15px;
          text-align: justify;
          margin: 5px;
      }
      
      .tour--item--content .title {
          font-size: 25px;
          font-weight: bold;
      }
      
      .tour--item--content .title_province {
          font-size: 20px;
          font-weight: bold;
      }
      
      .tour--item--content--right {
          margin: auto 0;
      }
      
      .page__transition {
          width: 100%;
          position: relative;
          z-index: 1;
      }
      
      .page__transition img {
          width: 100%;
          height: 100%;
      }
      
      .home_page .page__content--review {
          width: 100%;
          background-color: violet;
          margin-left: 0px;
          margin-top: var(--space);
          margin-bottom: var(--space);
      }
      /*PAGE tour*/
      /* ở đây cần chỉnh lại*/
      
      .tour_page .content {
          padding-top: 50px;
      }
      /*PAGE book now*/
      
      .book_page .page__banner {
          padding-top: 50px;
          width: 100%;
          height: auto;
          margin-bottom: var(--space);
      }
      
      .book_page .page__banner img {
          width: 100%;
          /* height: 310px; */
      }
      
      .page__content--information {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          margin-bottom: var(--space);
      }
      
      .book_page .information--left {
          background-color: rgb(238, 247, 248);
          min-width: 400px;
          flex: 1;
          padding-top: var(--space);
          padding-bottom: var(--space);
          border: 2px dashed var(--mainColor);
      }
      
      .book_page .flex {
          display: flex;
          margin-bottom: 5px;
      }
      
      .book_page .information--right {
          min-width: 400px;
          flex: 1;
          border: 2px dashed var(--mainColor);
      }
      
      .book_page .page__content--book {
          margin: 0 auto;
          width: 400px;
          background-color: wheat;
          padding-bottom: var(--space);
          margin-bottom: var(--space);
      }
      
      .flex-sum {
          margin-left: 20%;
      }
      
      .flex-sum label {
          width: 150px;
      }
      
      .page__content--book .btn {
          margin-top: var(--space);
      }
      /*PAGE about us*/
      
      .aboutus_page .page__content {
        padding-top: 80px;
        width: 100%;
        z-index: 1;
        margin-bottom: var(--space);
    }
    
    .aboutus_page .page__content h2 {
        text-align: center;
    }
    
    .aboutus_page .page__content ul {
        padding-left: 50px;
    }
    .aboutus_page h3, .aboutus_page p{
        margin-top: 5px;
    }
      /*PAGE review*/
      
      .p1--review {
          padding-top: 100px;
      }
      
      .review_page .page__content--slide {
          width: 900px;
          height: 420px;
      }
      
      .review_page .page__content--slide img {
          width: 100%;
          height: auto;
      }
      
      .review_page .content__best {
          display: flex;
          width: 300px;
          margin-bottom: var(--space);
          margin-left: var(--space);
      }
      
      .review_page .page__content--best img {
          width: 100px;
          height: 100px;
      }
      
      .page__content--image {
          width: 430px;
          height: 680px;
          background-color: var(--infColor);
      }
      
      .review_page h2 {
          text-align: center;
          margin-top: -20px;
          margin-bottom: 10px;
      }
      
      .review_page .page__content--image img {
          width: 180px;
          height: 200px;
          margin-left: 20px;
          margin-top: 20px;
      }
      
      .review_page .page__content--review {
          width: 760px;
          margin-left: var(--space);
          background-color: var(--infColor);
          height: 680px;
      }
      
      .review_page .page__content--review iframe {
          height: 680px;
          width: 100%;
      }
      /*PAGE detail*/
      
      .detail_page .page__banner {
          padding-top: 50px;
          width: 100%;
          height: auto;
          margin-bottom: var(--space);
      }
      
      .detail_page .page__banner img {
          width: 100%;
      }
      
      .part--right {
          margin-left: var(--space);
          width: 400px;
      }
      
      .part--left {
          width: 800px;
      }
      
      .page__content--video img {
          height: 600px;
          width: 100%;
      }
      
      .page__content--book {
          border: 1px solid rgb(50, 99, 235);
          width: 397px;
          height: auto;
          background-color: var(--infColor);
      }
      
      .content__book--price {
          background-color: #BA81CE;
          font-size: xx-large;
          text-align: center;
          line-height: 110px;
          color: white;
          width: 400px;
          height: 100px;
          margin-bottom: var(--space);
      }
      
      .detail_page input,
      .detail_page textarea {
          margin-left: 20px;
          margin-bottom: 20px;
          border: 1px solid black;
          border-radius: 20px;
          padding-left: 10px;
      }
      
      .content__book--inf input {
          height: 45px;
          width: 135;
          border: 1px solid black;
          border-radius: 20px;
      }
      
      .content__book--infphone input {
          height: 45px;
          width: 310px;
      }
      
      .content__book--send {
          background-color: #BA81CE;
          text-align: center;
          line-height: 45px;
          width: 310px;
          height: 45px;
          font-size: x-large;
          color: white;
          margin: 0 auto;
          border-radius: 20px;
          margin-bottom: var(--space);
      }
      
      .page__content--discription {
          background-color: var(--infColor);
          height: 900px;
      }
      
      .page__content--photos img {
          height: 250px;
          width: 400px;
          margin-bottom: var(--space);
      }
      /*chỗ này không được để h3 không như vầy, nên t cmt lại, trang này của ai coi lại nha*/
      /* h3 {
        margin-bottom: var(--space);
        margin-left: 40px;
    } */
      
      .content__best {
          display: flex;
          width: 300px;
          margin-bottom: 60px;
      }
      
      .page__content--best img {
          width: 100px;
          height: 100px;
      }
      
      .page__content--map img {
          width: 100%;
          height: 500px;
      }
      
      .page__content--otherpack img {
          height: 500px;
      }
      
      .page__content--related h3 {
          text-align: center;
      }
      /*PAGE security*/
      .security_page .page__content {
        padding-top: 80px;
        width: 100%;
        height: auto;
        z-index: 1;
    }
    
    .security_page .page__content--content {
        margin-bottom: var(--space);
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .security_page h5{
        margin-top: 5px;
    }
    .security_page .page__content--content p {
        padding-top: 5px;
    }
    .security_page h6{
        color: red;
        text-align: center;
        margin-top: var(--space);
    }

      /*PAGE provision*/
      .provision_page .page__content {
        padding-top: 80px;
        width: 100%;
        height: auto;
        z-index: 1;
        margin-bottom: var(--space);
        padding-left: var(--space);
        padding-right: var(--space);
    }
    
    .provision_page .page__content ul {
        padding-left: var(--space);
    }
    .provision_page h5{
        color: red;
        text-align: center;
        margin-top: var(--space);
    }
      
      /* Page Send review */
      
      .page_content_slide_img img {
          width: 100%;
          height: 20%;
      }
      
      .page__content--cusreview {
          width: 100%;
          justify-content: space-between;
          margin-top: var(--space);
          margin-bottom: var(--space);
      }
      
      .page__content--cusreview-left {
          width: 30%;
          text-align: center;
      }
      
      .page__content--cusreview-left img {
          width: 100%;
          margin-bottom: var(--space);
      }
      
      .page__content--cusreview-right {
          width: 70%;
          text-align: center;
      }
      
      #cusreview_text {
          height: 240px;
          width: 90%;
          margin-left: 0;
          padding-left: var(--space);
          padding-right: 0;
          margin-bottom: var(--space);
      }
      /*PAGE register and signin*/
      
      .register_page .page__content,
      .signin_page .page__content {
          padding-top: 100px;
      }
      
      .register_page h3,
      .signin_page h3 {
         text-align: center;
      }
      
      #email,
      #phone {
          color: red;
      }
      
      .form__option--re,
      .form__option--si {
          width: 40%;
          margin: 0 auto;
          margin-bottom: var(--space);
          border: 1px solid black;
          height: auto;
          background-color: white;
      }
      
      .form__option--re ul,
      .form__option--si ul {
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          text-transform: uppercase;
          justify-content: space-around;
      }
      
      .register_page hr,
      .signin_page hr {
          width: 60%;
          margin: 0 auto;
          border: 0.1px solid black;
      }
      
      .register_page form,
      .signin_page form {
          margin-top: 10px;
      }
      
      .register_page .form_row,
      .signin_page .form_row {
          margin-bottom: 20px;
      }
      
      .register_page .form__label,
      .signin_page .form__label {
          display: flex;
          flex-direction: column;
          margin-left: var(--space);
      }
      
      .register_page .form__input,
      .signin_page .form__input {
          height: 30px;
          margin-top: 5px;
          width: 80%;
          margin-left: var(--space);
      }
      
      .accept {
          display: flex;
      }
      
      .accept input {
          margin-left: var(--space);
      }
      
      .accept p {
          margin-top: -5px;
      }
      
      .register_page .form__button,
      .signin_page .form__button {
          width: 20%;
          height: 30px;
          margin-left: 40%;
          background-color: var(--menuColor);
          border-radius: 20px;
          color: white;
      }
      
      p#match {
          text-align: center;
          font-size: medium;
      }
      
      ul.other_method{
          margin-bottom: var(--space);
      }
      #gg p, #fb p{
          margin-left: 45px;
          margin-top:-35px;
      }
      
      .register_page .form__option--re a,
      .signin_page .form__option--si a {
          text-decoration: none;
          color: black;
      }
      
      .verify a {
          color: white;
      }

      ul.reason{
          margin-left: -35px;
      }

      .form__regis p {
        margin-left: 5%;
        font-size: small;
        margin-bottom: -10px;
        color: red;
    }

    .form__regis p#notaccept {
        margin-bottom: 15px;
        margin-top: -15px;
    }

      .signin_page p#notemail,
      .signin_page p#notphone,
      .signin_page p#notpass {
          margin-left: 5%;
          font-size: small;
          margin-bottom: -10px;
          color: red;
      }
      
      @media screen and (max-width: 1250px) {
           :root {
              --space: 20px;
          }
          .page__content--section {
              margin-bottom: var(--space);
          }
          .page__content--photo {
              margin-bottom: var(--space);
          }
          /*review_page*/
          .page__content--slide {
              margin-bottom: var(--space);
          }
          .page__content--image {
              margin-bottom: var(--space);
          }
          /*detail_page*/
          .page__banner,
          .page__content--video,
          .page__content--discription,
          .page__content--map,
          .detail_page .tour--item {
              margin-bottom: var(--space);
          }
      }
      /*Ipad dọc(768 x 1024)*/
      
      @media screen and (max-width: 768px) {
           :root {
              --space: 10px;
          }
          .page__content--section {
              margin-bottom: var(--space);
          }
          .page__content--photo {
              margin-bottom: var(--space);
          }
          /*review_page*/
          .page__content--slide {
              margin-bottom: var(--space);
          }
          .page__content--image {
              margin-bottom: var(--space);
          }
          /*detail_page*/
          .page__banner,
          .page__content--video,
          .page__content--discription,
          .page__content--map,
          .detail_page.tour--item {
              margin-bottom: var(--space);
          }

           /*aboutus_page*/
        .aboutus_page .page__content{
            width: 100%;
            
        }
        .aboutus_page h3, .aboutus_page p, .aboutus_page ul{
            margin: 5px var(--space);
        }

          /*security_page*/
        .security_page .page__content{
            width: 100%;
        }

        .security_page h5, .security_page p{
            margin: 5px var(--space);
        }
          /*provision*/
          .provision_page .page__content{
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            padding-top: 60px;
        }

        .provision_page h4, .provision_page li{
            margin-left: var(--space);
        }

        .provision_page ul li{
            margin-left: 0;
        }

          /*register_page & signin_page*/
          .form__option--re {
              width: 70%;
              margin-bottom: 20px;
          }

          .form__option--si {
              width: 70%;
              margin-bottom: 113px;
          }
    
          .register_page .form__input,
          .signin_page .form__input,
          .register_page .form__label,
          .register_page .form__input {
              width: 80%;
              height: 30px;
              padding-top: 4px;
              margin-left: var(--space);
          }
          .register_page .form__input,
          .signin_page .form__input {
              border: 1px solid black;
          }
          .accept input {
              margin-left: var(--space);
          }
          
          .register_page .form__button,
          .signin_page .form__button {
              font-size: large;
          }
         
      }
      /*Điện thoại bản nhỏ 320px*/
      
      @media screen and (max-width: 320px) {
           :root {
              --space: 5px;
          }
          .page__content--section {
              margin-bottom: var(--space);
          }
          .page__content--photo {
              margin-bottom: var(--space);
          }
          /*review_page*/
          .page__content--slide {
              margin-bottom: var(--space);
          }
          .page__content--image {
              margin-bottom: var(--space);
          }
          /*detail_page*/
          .page__banner,
          .page__content--video,
          .page__content--discription,
          .page__content--map,
          .tour--item {
              margin-bottom: var(--space);
          }

          /*aboutus*/
        .aboutus_page .page__content{
            width: 100%;
            font-size: medium;
            padding-top: 80px;
        }
        .aboutus_page h3, .aboutus_page p{
            margin: 0 20px;
        }
        .aboutus_page ul{
            margin: 0;
        }

          /*security_page*/
        .security_page .page__content{
            width: 100%;
            font-size: medium;
            padding-top: 80px;
        }

        .security_page h5, .security_page p{
            margin: 5px var(--space);
        }
        
          /*provision_page*/
        .provision_page .page__content{
            width: 100%;
            padding-top: 80px;
            font-size: medium;
        }

        .provision_page h4, .provision_page li{
            margin-left: var(--space);
            padding-top: 5px;
        }

        .provision_page .page__li li{
            margin-left: -25px;
        }

          /*register_page & signin_page*/
          .register_page .page__content,
          .signin_page .page__content {
              padding-top: 80px;
          }
          .register_page .page__content {
              width: 100%;
          }
          .form__option--re,
          .form__option--si {
              width: 100%;
              border: none;
          }
          
          .register_page h3,
          .signin_page h3 {
              font-size: large;
              text-align: center;
          }

          .register_page .form__input,
          .signin_page .form__input,
          .register_page .form__label,
          .signin_page .form__label {
              width: 75%;
              height: 20px;
              margin-top: 3%;
              margin-left: var(--space);
          }

          .register_page .form__input,
          .signin_page .form__input {
              border: 1px solid black;
          }

          .accept input {
              margin-left: var(--space);
          }

          .register_page .form__button,
          .signin_page .form__button {
              font-size: large;
              width: 30%;
              margin-left: 35%;
          }
          
          ul.other_method{
            padding-bottom: 10px;
        }

          #gg p, #fb p{
            font-size: medium;
        }

        ul.reason{
            font-size: small;
            margin-left: 3px
        }

          .form__regis p {
              margin-left: var(--space);
          }

        .signin_page p#notemail,
          .signin_page p#notphone,
          .signin_page p#notpass {
              margin-left: var(--space);
          }
      }